<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnWFQjlb8r1tmQCNfdIng62W7j9_fmLMg</string>
	<key>GCM_SENDER_ID</key>
	<string>13369717653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirstProject.PushNotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-4c7c9</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-4c7c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13369717653:ios:0f90810d4ed265c20f7c9c</string>
</dict>
</plist>